@page
@{
    ViewData["Title"] = "NotFound";
}

<h2 class="not-found-h"><i class="fas fa-robot"></i> Does not compute! <i class="fas fa-robot"></i></h2>
<h4 class="not-found-h">(Sorry, something went wrong!)</h4>

