@page
@model QuoteMan_b0._1.WebUI.Pages.Home.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Welcome to QuoteMan!</h1>

<h3>What would you like to do?</h3>

<span class="btn">
    <button class="btn btn-default">
        Add a new customer
    </button>
</span>

<span class="btn">
    <button class="btn btn-default">
        Find/add a quote
    </button>
</span>

<span class="btn">
    <button class="btn btn-default">
        View your follow-ups
    </button>
</span>

