@page
@model QuoteMan_b0._1.WebUI.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Welcome to QuoteMan!</h1>

<h3>What would you like to do?</h3>
<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input class="form-control" type="search" placeholder="Search for a customer here ..." name="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-default" asp-page="/Customers/Index">
                    <i class="fas fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>

<span class="btn">
    <button class="btn btn-default">
        Add a new customer
    </button>
</span>

<span class="btn">
    <button class="btn btn-default">
        Find/add a quote
    </button>
</span>

<span class="btn">
    <button class="btn btn-default">
        View your follow-ups
    </button>
</span>