@page "{customerId:int?}"
@model QuoteMan_b0._1.WebUI.Pages.Quotes.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
@if (Model.Customer.CustomerId == 0)
{
    <div class="form-group">
        <label>Search here for a customer, you want to create a new customer click add</label>
        <div class="input-group">
            <input class="form-control" type="search" asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="fas fa-search"></i>
                </button>
            </span>
            <span class="input-group-btn">
                <button id="add-customer-button" class="btn btn-default">
                    <i class="fas fa-user-plus"></i>
                </button>
            </span>
        </div>
    </div>

}
else
{
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group-flush">
                <li class="list-group-item">@($"{Model.Customer.Title} {Model.Customer.FirstName} {Model.Customer.LastName}")</li>
                <li class="list-group-item">@Model.Customer.Email</li>
                <li class="list-group-item">@Model.Customer.PhoneNumber</li>
            </ul>
        </div>
    </div>
}

<!--after fetched will go here-->
<div class="row">
    <div class="col-md-4 dont-display">
        <ul class="list-group-flush">
            <li class="list-group-item"></li>
            <li class="list-group-item"></li>
            <li class="list-group-item"></li>
        </ul>
    </div>
</div>

<form action="/" method="post">
    <input type="hidden" asp-for="Quote.QuoteId" />
    <input type="hidden" asp-for="Customer.CustomerId" />
    <div id="new-customer-form" class="dont-display">
        <div class="form-group">
            <label asp-for="Customer.Title"></label>
            <select class="form-control" asp-for="Customer.Title"></select>
        </div>

        <div class="form-group">
            <label asp-for="Customer.FirstName"></label>
            <div class="input-group">
                <input class="form-control" asp-for="Customer.FirstName" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Customer.LastName"></label>
            <div class="input-group">
                <input class="form-control" asp-for="Customer.LastName" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Customer.Email"></label>
            <div class="input-group">
                <input type="email" class="form-control" asp-for="Customer.Email" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Customer.PhoneNumber"></label>
            <div class="input-group">
                <input class="form-control" asp-for="Customer.PhoneNumber" />
            </div>
        </div>
    </div>
    <!-- add this stuff to a view component? -->
    <div class="form-group">
        <label asp-for="Quote.Description"></label>
        <div class="input-group">
            <textarea class="form-control" asp-for="Quote.Description"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Quote.VehicleMake"></label>
        <div class="input-group">
            <input class="form-control" asp-for="Quote.VehicleMake" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Quote.VehicleModel"></label>
        <div class="input-group">
            <input class="form-control" asp-for="Quote.VehicleModel" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Quote.Price"></label>
        <div class="input-group">
            <input class="form-control" asp-for="Quote.Price" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Quote.Status"></label>
        <select class="form-control" asp-for="Quote.Status"><option>Hi</option></select>
    </div>

    <button class="btn btn-primary" type="submit">Save</button>
</form>

<script src="~/js/popoutcustomerform.js"></script>
<script src="~/js/findcustomer.js"></script>