.navbar-brand {
    font-weight: 700;
    letter-spacing: 2px;
    text-shadow: 2px 1px #A1ADAA;
}

.main-navi {
    font-size: 1rem;
}

.card {
    width: 33%;
    display: inline-block;
}

.custom-header {
    margin-bottom: 2px;
}

.sub-navi {
    padding: 0px;
    padding-bottom: 3px;
}

.not-found-h {
    text-align: center;
}

.card-subtitle {
    margin: 0;
}

#name-of-customer {
    font-size: 1.25rem;
}

.context-menu {
    border: 1px solid #3F5454;
    /*background-color: #F5FFFF;*/
    background: rgba(244,252,255, 0.9); 
    border-radius: 5px;
    width: auto;
    position: absolute;
}

.dont-display {
    display: none;
}

.customer-id-grabber {
    padding: 0px;
}

.context-menu-button {
    padding: 0px;
}

.context-menu-list {
    padding-left: 5px;
    list-style-type: none;
    font-size: 1rem;
}

    .context-menu-list li {
        padding: 2px;
        margin-top: 2px;
    }

    .context-menu-list a {
        text-decoration: none;
        color: #3F5454;
        padding-right: 10px;
    }

        .context-menu-list a span {
            margin-left: 8px;
        }

        .context-menu-list a i {
            text-align: center;
            width: 15px;
        }

.hidden-customer-form {
    border: 1px solid #000;
}

